:root {
  --primary-color: #333;
  --secondary-color: white;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

@font-face {
  font-family: "Jumbalo";
  src: url("../jumbalo.ttf");
}

a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  margin: 0 2.5rem;
}

.close-mobile {
	position: absolute;
	right: 2rem;
	display: none;
}

.navbar {
  font-weight: 400;
  font-size: 0.9rem;
	position: relative;
  display: flex;
  align-items: center;
  padding: 2rem 3.1rem 2.3rem 2.5rem;
  justify-content: space-between;
}

.flex-start,
.nav-item,
.flex-end,
.searchbar,
.cart-btn,
.together {
  align-items: center;
  display: flex;
}

.logo img {
  width: 45px;
}

.logo p {
  font-family: "Jumbalo";
  color: var(--primary-color);
  font-size: 1.75rem;
}

.logo {
  cursor: pointer;
  margin-right: 5rem;
  gap: 0.75rem;
  display: flex;
  align-items: center;
}

.together {
  position: relative;
  gap: 1rem;
}

.line-vertical {
  width: 1px;
  height: 25px;
  background-color: #b1a8b9;
}

.nav-item {
  cursor: pointer;
  gap: 0.25rem;
  transition: all 0.1s ease;
}

.dropdown {
  cursor: auto;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 100%;
  padding: 1rem 2rem;
}

.outside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 4;
  height: 100vh;
}

.dropdown-container {
  border-radius: 6px;
  box-shadow: 0px 0px 1px #b1a8b9;
  z-index: 10;
  overflow: hidden;
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  width: 100%;
}

.dropdown-item {
  padding: 0.35rem 0;
}

.dropdown-item:hover {
  color: var(--primary-color);
}

.nav-item:hover {
  color: var(--primary-color);
}

.nav-item:hover i {
  color: var(--primary-color);
}

.nav-item:hover p {
  color: var(--primary-color);
}

.nav-item i,
.nav-item p {
  transition: all 0.1s ease;
}

.searchbar {
  display: flex;
  border: 1px solid #ccc;
  align-items: stretch;
  height: 45px;
  background-color: #f9f9f9;
  overflow: hidden;
  max-width: 300px;
  border-radius: 10px;
}

.search-input {
  height: 45px;
  border: none;
  width: 350px;
  background-color: #f9f9f9;
  font-size: 15px;
  font-size: 0.9rem;
}

.magnifying-glass {
  display: flex;
  align-items: center;
  padding: 0 0.75rem 0 1.25rem;
}

.mobile-search-btn {
	padding: 0.25rem;
	cursor: pointer;
	display: none;
}

i {
  color: #3b3b3b;
  /* font-weight: 400; */
}

.flex-end i {
  transform: scale(1.2);
}

.search-input:focus {
  outline: none;
}

.flex-end {
  gap: 1.5rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.purchased-number {
  width: 16px;
  height: 16px;
  top: -50%;
  right: -50%;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  font-weight: bold;
  font-size: 10px;
  background-color: red;
}

.main-banner {
  border-radius: 16px;
  position: relative;
  display: flex;
  height: 70vh;
  overflow: hidden;
  margin-bottom: 4rem;
}

.banner-slide {
  aspect-ratio: 16/9;
  transform: translateX(0%);
  transition: all 0.6s ease;
  height: 100%;
  flex: 0 0 100%;
  width: 100%;
}

.main-banner img {
  width: 100%;
  object-position: center center;
  height: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
  object-fit: cover;
}

.main-banner img:hover {
  transform: scale(1.1);
}

.isle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.isle-list {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.product {
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 400px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #eff2f5;
}

.product .img-container:hover img {
  transform: scale(1.1);
}

.product .img-container {
  width: 100%;
  height: 250px;
  background-color: #eff2f5;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
  padding-bottom: 1.5rem;
}

.add-to-cart {
  font-weight: 900;
  align-self: flex-start;
  margin-top: 1rem;
  transition: all 0.1s ease-out;
  text-decoration: underline;
}

.add-to-cart:hover {
  color: var(--primary-color);
}

.about-table .cell svg {
  margin-bottom: 5px;
}

.product-title {
  font-size: 1.25rem;
}

.product-price {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.img-container img {
  transition: all 0.2s ease;
  padding: 2.75rem 1rem;
  object-fit: contain;
  width: 100%;
}

.isle-title {
  flex-wrap: wrap;
  gap: 1.25rem;
  display: flex;
  margin-top: 0.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.isle-title h2 {
  /* font-family: 'Jumbalo'; */
  /* color: var(--primary-color); */
  font-size: 2rem;
}

.arrow-left,
.arrow-right {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
}

.arrow-right {
  left: calc(100% - 4rem);
}

.arrow-left i,
.arrow-right i {
  color: white;
}

.grid {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.secondary-banner {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  border-radius: 8px;
  font-size: 2rem;
  background-color: var(--secondary-color);
  position: relative;
}

.secondary-banner p {
  line-height: 1.1;
  z-index: 3;
  color: white;
  max-width: 50%;
}

.secondary-banner .button {
  position: absolute;
  bottom: 2rem;
  justify-self: flex-end;
  transition: all 0.2s ease;
}

.button {
  color: white;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

.button:hover {
  filter: brightness(110%);
}

.secondary-banner-img {
  height: 70%;
  right: 50px;
  top: 50px;
  position: absolute;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 3rem;
  margin-bottom: 4rem;
  background-color: #fff6ff;
  background-color: color-mix(in srgb, var(--primary-color), white 90%);
  text-align: center;
}

.about-info {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0.25rem;
  max-width: 90%;
}

.about-title {
  margin-bottom: 1.5rem;
}

.about .button {
  margin-top: 2rem;
}

.about-table {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.cell-title {
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
}

.cell-text {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
}

.footer {
  padding: 1.5rem 0;
  align-items: flex-start;
  gap: 2rem;
  border-top: 2px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.footer-column {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
}

.footer-column h2 {
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}

.footer-column .link {
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 400;
}

.link:hover {
  color: #000;
}

.sidebar-abs {
  position: absolute;
}

.cart {
  transition: all 0.35s ease;
  position: fixed;
  transform: translateX(100%);
  right: 0;
  background-color: white;
  height: 100vh;
  width: 450px;
  max-width: 100vw;
  top: 0;
  z-index: 4;
  padding: 2.5rem;
}

.sidebar {
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  justify-content: center;
  max-width: 100vw;
  width: 350px;
}

.sidebar-item {
  font-size: 1.25rem;
  text-align: center;
}

.sidebar-top {
  position: fixed;
  gap: 1.5rem;
  top: 2.5rem;
  width: calc(100% - 5rem);
}

.sidebar-item:hover {
  color: var(--primary-color);
}

.cart-overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.cart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-title {
  display: flex;
  align-items: center;
}

.close-cart {
  cursor: pointer;
  padding: 2px;
  transition: all 0.1s ease;
}

.close-cart:hover {
  transform: scale(1.1);
}

.cart-content {
  height: calc(100vh - 220px);
  overflow-y: auto;
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cart-item-price {
  color: var(--primary-color);
}

.cart-item {
  display: flex;
  gap: 1rem;
  position: relative;
}

.cart-item-img {
  width: 50px;
  border-radius: 4px;
  height: 65px;
  object-fit: contain;
  padding: 1rem 1.5rem;
  background-color: #eff2f5;
  box-sizing: content-box;
}

.cart-item-quantity {
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
}

.cart-item .quantity {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  font-family: "Arial";
  padding: 0.25rem 0.35rem;
}

.cart-item-quantity .plus,
.cart-item-quantity .minus {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0.25rem 0.7rem;
  outline: none;
}

.cart-item-quantity svg {
  transform: translateY(2px);
}

.cart-total {
  width: 50px;
  display: block;
}

.cart-item-quantity .plus {
  border-left: 1px solid #bfbfbf;
}

.cart-item-quantity .minus {
  border-right: 1px solid #bfbfbf;
}

.cart-bottom {
  position: absolute;
  bottom: 0;
  display: flex;
	gap: 1rem;
	flex-direction: column;
  padding: 2rem 0;
  background-color: white;
  width: calc(100% - 5rem);
}

.card-number-info, .card-number-info i {
	/* color: var(--primary-color); */
	font-size: 0.85rem;
}

.cart-bottom div {
	display: flex;
  align-items: center;
  gap: 4rem;
}

.cart-bottom .button {
  background-color: #333;
  color: white;
}

.remove-cart-item {
  box-sizing: content-box;
  padding: 1px;
  position: absolute;
  cursor: pointer;
}

.remove-cart-item:hover {
  transform: scale(1.1);
}

.products-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 4rem;
}

.view-all {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 900;
  transition: all 0.1s ease;
}

select {
  background-color: white;
  border: thin solid #333;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select,
option {
  cursor: pointer;
  outline: none;
  font-weight: 500;
}

option {
  padding: 0.25rem 0;
}

.view-all:hover {
  color: var(--primary-color);
}

.view-all svg {
  transition: all 0.1s ease;
}

.view-all:hover svg {
  fill: var(--primary-color);
}

.products-page .footer {
  margin-top: 4rem;
}

.hamburger {
  width: 30px;
  cursor: pointer;
  display: none;
  position: relative;
  margin-right: 1.25rem;
  z-index: 3;
  flex-direction: column;
  gap: 5px;
  transition: all 0.25s ease;
}

.hamburger-line {
  transition: all 0.25s ease;
  width: 100%;
  height: 3px;
  position: relative;
  z-index: 3;
  background-color: #333;
}

.details-page .content {
  display: flex;
  gap: 3rem;
  margin-bottom: 4rem;
  justify-content: space-between;
}

.details-page .details-images {
  width: 100%;
}

.details-images-list {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, calc(75px + 2.5rem));
  margin-top: 1.25rem;
}

.details-small-img.current-img {
  border: 2px solid var(--secondary-color);
}

.details-small-img {
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-radius: 8px;
  padding: 0.5rem 1.25rem;
  box-sizing: content-box;
  width: 75px;
  height: 110px;
  background-color: #eff2f5;
}

.details-small-img:not(.current-img) {
  box-shadow: 0px 0 1px #333;
}

.details-small-img img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.details-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.details-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: var(--secondary-color);
  transition: all 0.35s ease;
  padding: 4rem;
  border-radius: 0.5rem;
}

.details .button {
  color: white;
}

.details .button:hover {
  background-color: color-mix(
    in srgb,
    var(--primary-color),
    rgb(20, 20, 20) 15%
  );
}

.details {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}

.details-description {
  font-weight: 600;
  line-height: 140%;
}

.success,
.cancel {
  justify-content: center;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.svg-curve {
  position: absolute;
  left: -5px;
  bottom: -270px;
}

.success p,
.success a,
.success h1 {
  position: relative;
  z-index: 3;
}

.svg-curve path {
  stroke: var(--primary-color);
  stroke-width: 5px;
  animation: draw 1.8s 0.2s linear forwards;
}

.svg-curve-right {
  right: 100%;
  left: auto;
  right: -50px;
  bottom: -220px;
}

.svg-curve-right path {
  animation-delay: 0.8s;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.not-found {
  min-height: 400px;
  justify-content: center;
}

.not-found .about-info {
  font-size: 1.2rem;
}

.not-found h1 {
  font-size: 3rem;
}

.Toastify__toast {
  font-weight: 400 !important;
}

.out-of-stock {
  color: rgb(236, 26, 26);
  font-weight: bold;
}

.discount-ribbon {
  position: absolute;
  top: 12px;
  left: -40px;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 5px 50px;
  text-align: center;
  transform: rotate(-45deg);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 2;
  font-size: 12px;
}

.alert {
	position: relative;
	text-align: center;
	padding: 0.9rem 0;
	background-color: var(--primary-color);
}

.alert p, .alert a {
	font-size: 0.9rem;
	color: white;
	font-weight: 600;
}
.alert a {
	text-decoration: underline;
}

.close-alert {
	top: 0.5rem;
	right: 1rem;
	position: absolute;
}

.close-alert svg {
	fill: white;
}

.searchbar-container {
	position: relative;
}

.search-results-list {
	background-color: #fff;
	position: absolute;
	z-index: 20;
	width: 100%;
	display: flex;
	margin-top: 5px;
	flex-direction: column;
  border-radius: 6px;
  box-shadow: 0px 0px 1px #b1a8b9;
}

.search-result-row {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #eff2f5;
	gap: 1rem;
	padding: 0.25rem 0.75rem;
	cursor: pointer;
}

.search-result-row:first-of-type {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.search-result-row:last-of-type {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.search-result-row:hover {
	background-color: rgb(255, 230, 183);
}

.search-result-list-price {
	font-size: 0.85rem;
	margin-top: 2px;
}

.search-img-container {
	/* background-color: #eff2f5; */
	padding: 0.2rem;
	width: 70px;
	height: 70px;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-result-row img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}