@font-face {
  font-family: "kaio-black";
  src: url("../assets/KaioTRIAL-Black-BF65f24de1e055e.otf");
}

@font-face {
  font-family: "main-font";
  src: url("../assets/font.woff2");
}

html,
body {
  overflow-x: hidden;
}

.special-font {
  font-family: "kaio-black";
}

th,
.admin button,
div[role="dialog"] button,
div[role="alertdialog"] button {
  font-family: "main-font";
}

::selection {
  background-color: var(--primary);
}

.grab {
  cursor: grab !important;
}

.text-muted {
  color: #29002990;
}

button {
  cursor: pointer;
}

.rsw-editor {
  max-width: 512px;
  --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.05));
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.rsw-ce {
  z-index: 4;
  min-height: 125px;
  transition: all 0.2s ease;
  border: 2px solid transparent !important;
  outline: none !important;
}

.rsw-ce:focus {
  border: 2px solid var(--primary) !important;
}

.rsw-toolbar {
  background-color: var(--color-sidebar) !important;
}

.rsw-btn {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  padding: 0 2px !important;
  align-items: center;
}

.rsw-ce ul {
  list-style-type: disc;
  list-style-position: inside;
}
.rsw-ce ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.stats-card {
  background-color: var(--primary);
  padding: 0.5rem 1.5rem;
  max-width: 350px;
  border-radius: 20px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 4px 4px 0 #240029;
}

.stats-title {
  font-family: "kaio-black";
  font-size: 2.25rem;
}

.stats-desc {
  font-family: "main-font";
  font-size: 1rem;
}

.stats-card button {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.gradient-background {
  background-image: linear-gradient(
    145deg,
    hsl(350deg 100% 93%),
    hsl(47deg 100% 87%) 40%,
    hsl(47deg 100% 87%) 60%,
    hsl(47deg 100% 53%)
  );
  border: 1px solid #2900290d;
}

@media (max-width: 768px) {
  .card-holder {
    flex-direction: column;
  }
}
